snippet 2h
## $1
endsnippet

snippet 3h
### $1
endsnippet

snippet 4h
#### $1
endsnippet

snippet 5h
##### $1
endsnippet

snippet img
![]($0)
endsnippet

snippet code
\`\`\`${1:java}
$0
\`\`\`
endsnippet
