snippet note
"##############################################################
"# $0
"##############################################################
endsnippet

snippet func
func! $1()
    $0
endfunc
endsnippet
