snippet note
"##############################################################
"# $0
"##############################################################
endsnippet

snippet func
function $1()
    $0
endfunction
endsnippet
